{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body style="background-color: rgb(10, 1, 68);"></body>
<div class="container mt-5">
    <div style="background-color:aliceblue" class="card shadow-lg">
        <div class="card-body p-5">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="{{ movie_image.image }}" class="img-fluid rounded" alt="Movie Poster">
                </div>
                <div class="col-md-8">
                    <h1 class="font-weight-bold mb-3">{{ movie.title }} ( {{movie.release_date|date:"Y" }} )</h1>
                    <p class="lead mb-4">
                        {% for genre in movie.genres %}
                        <span style="background-color:rgb(112, 116, 116) ;" class="badge badge-primary p-2 mr-2">{{ genre }}</span>
                        {% endfor %}
                    </p>
                    <br>
                    <div class="mr-5 font-weight-bold text-secondary">
                        Overview:
                    </div>

                    <div class="mr-5">
                        <hr>
                        {{ movie.overview }}
                    </div>
                    <br>
                    <div class="mr-5 font-weight-bold text-secondary">
                        Rating:
                    </div>
                    <div class="mr-5">
                        <hr>
                        {{ movie.vote_average }} <i class="fas fa-star"></i>
                    </div>
                    <br>
                    <div class="mr-5 font-weight-bold text-secondary">
                        Release date:
                    </div>
                    <div class="mr-5">
                        <hr>
                        {{ movie.release_date }}
                    </div>
                    <br>
                    <div class="mr-5 font-weight-bold text-secondary">
                        Runtime:
                    </div>
                    <div class="mr-5">
                        <hr>
                        {{ formatted_runtime  }}
                    </div>
                    <br>
                    <div class="mr-5 font-weight-bold text-secondary">
                        Status:
                    </div>
                    <div class="mr-5">
                        <hr>
                        {{ movie.status }}
                    </div>
                    <div>
                        {% if request.user.is_authenticated %}
                        {% if movie.title in watchlist_titles %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="watchlist_remove" value="1">
                                <button type="submit" class="btn btn-danger btn-lg btn-block mt-5">Remove from Watchlist</button>
                            </form>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="watchlist_add" value="1">
                                <button type="submit" class="btn btn-success btn-lg btn-block mt-5">Add to Watchlist</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary">Login to add to Watchlist</a>
                    {% endif %}
                    </div>
                    <hr>

                </div>
                <h2 class="font-weight-bold mt-5 mb-3"><br>Author Reviews:</h2>
            </div>
             <div class="row">
                        {% include 'author_list.html' %}
                    </div>
        </div>
    </div>
</div>
{% endblock %}