{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1>A Movie Database</h1>
    <p>Here you can find the latest information about movies, TV shows, and other entertainment content.</p>
    <a href="#" class="btn btn-primary">Browse Movies</a>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script>
    $('.slider').slick({
      autoplay: true,
      autoplaySpeed: 3000,
      dots: true,
      arrows: false,
    });
  </script>
{% endblock %}
