{% extends "base.html" %}
 {% load static %}




{% block content %}
<head>
      <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
</head>


<body>

<div class="login-form">
        <form method="post" action="{% url 'login' %}" >
               {% csrf_token %}
            <h2>Login</h2>
		<p class="hint-text">Welcome back! Log in to access your account.</p>
             {{ form.as_p }}
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username" required="required" >
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
            <a href="#" class="float-right">Forgot Password?</a>
        </div>
    </form>
    <p class="text-center"><a href="/register">Create an Account</a></p>
</div>
</div>
</body>
</html>

  {% endblock %}
