{% load static %}

{% block content %}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body>
  <div class="container">
    <div class="row">
      {% for review in reviews %}
      <div class="comment-container">
        <div class="comment-header">
          <div class="comment-author-pic-container">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="comment-author-pic">
          </div>
        <div class="comment-header-text">
              <h3>A review by {{review.author }}</h3>
              <span>{{ review.author }}</span>
          {% if review.author == request.user.username %}
        <form method="post" class="delete-review-form">
          {% csrf_token %}
          <input type="submit" value="Delete" name="remove_review" onclick="return confirm('Are you sure you want to delete your review?')">
        </form>
         <button class="edit-review-btn btn-warning btn-lg"  >Edit</button>
        {% endif %}
            </div>
          </div>
          <div class="comment-body comment-body-hide">
            <p class="original-content">{{ review.content|truncatechars:200|safe|linebreaks }} <a
                href="{% url 'review_detail' review.title review.author %}" style="color:blue;">Read More</a></p>
          </div>
        <form method="post" class="edit-review-form" style="display:none;">
        {% csrf_token %}
        <textarea name="content">{{ review.content }}</textarea>
        <input type="hidden" name="author" value="{{ review.author }}">
        <input type="submit" value="Save Changes" name="edit_review">
    </form>
      </div>
      {% endfor %}
    </div>
    <form method="post">
      {% csrf_token %}
      {{ form.title }}
      <div class="comment-container">
        <div class="comment-header">
          <div class="comment-author-pic-container">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="comment-author-pic">
          </div>
          <div class="comment-header-text">
            <h3 class="title-text"><span id="title">Write a review for </span> {{ title }}</h3> <br>
            {% if form.author.errors %}
            <div class="error">{{ form.author.errors }}</div>
            {% endif %}
            {% if user_has_submitted_review %}
            <div class="author-name">{{ form.author.initial }}</div>
            {% else %}
            {{ form.author.initial }}
            {% endif %}
          </div>
        </div>
        <div class="comment-body">
          {% if form.content.errors %}
          <div class="error">{{ form.content.errors }}</div>
          {% endif %}
          {{ form.content.label_tag }} <br>
          {{ form.content }}
        </div>
      </div>
      {% if user_has_submitted_review %}
      <div class="error">You have already submitted a review for this movie.</div>
      {% else %}
      <input type="submit" value="Submit">
      {% endif %}
    </form>



  </div>

<script>


$(document).on('click', '.edit-review-btn', function(){
    var closest = $(this).closest('.comment-header-text');
    var next = closest.parent().siblings('.edit-review-form');
    next.show();
});
$(document).on('click', '.edit-review-btn', function(){
    $(this).closest('.comment-container').find('.comment-body-hide').toggle();
});


</script>
</body>

{% endblock %}