{% load static %}
 
{% block content %}
 
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
 
 
 <body>
 <div class="container">
  <div class="row">
    {% for review in reviews %}
      <div class="comment-container">
        <div class="comment-header">
          <div class="comment-author-pic-container">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"  class="comment-author-pic">
          </div>
          <div class="comment-header-text">
            <h3>A review by  {{review.author }}</h3>
            <span>{{ review.author }}</span>
          </div>
        </div>
       <div class="comment-body">
  <p>{{ review.content|truncatechars:200|safe|linebreaks }} <a href="{% url 'review_detail' review.title review.author %}">Read More</a></p>
</div>
 
      </div>
    {% endfor %}
  </div>
</div>
 
 
</body>
{% endblock %}