{% extends "base.html" %}
{% load static %}

{% block content %}

<head >
  <meta charset="ISO-8859-1">
  <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <section class="review-detail">
    <div class="container">
      <div class="row">
        <div class="col-3 review-image-container">
          <img src="{{ review_image.image }}" alt="{{ review.title }}" class="review-image">
        </div>
        <div class="col-9">
          <h1 class="review-title">{{ review.title }}</h1>
          <h2 class="review-author">Author: {{ review.author }}</h2>
          <div class="review-content" style="color: white; background-color: rgb(73, 68, 68); padding: 5%; border-radius: 10px; border: solid;">
            {{ review.content|safe|linebreaks }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    $(document).ready(function() {
      $('#review-content a').attr('target', '_blank');
    });
  </script>
</body>
</html>
{% endblock %}