{% extends "base.html" %}
 {% load static %}




{% block content %}
<head>
      <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
</head>

<body>

<section class="details-card">
  <div class="container">
    <div class="row">
      {% for review in reviews %}
        <div class="col-md-4">
          <div class="card-content">
            <div class="card-img">
              <img src="img.png=" alt="">
              <span><h4>{{ review.title }}</h4></span>
            </div>
            <div class="card-desc">
              <h3>{{ review.author }}</h3>
              <span><h4><a href="{% url 'author_detail' review.title %}">Read</a></h4></span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>




</body>
</html>

  {% endblock %}
